<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
    <head>
        <link href="/static/css/404.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1><%= error.status %></h1>
            </div>
            <hr>
            <div class="row">
                <p style="height:300px;"><%= error.message %></p>
            </div>
        </div>
    </body>
</html>